/* CLASS = HASHTAG, ID = DOT */

/* FOR BACKGROUND COLOR OF THE WEBSITE */
body {
    background-color:burlywood;
    }

p {
    text-decoration:none;
    color:black;
    font-family:'Bookman Old Style';
    margin-left: 40px;
    direction: ltr;
}

/* FOR BANNER OF THE WEBSITE */
#banner1 img {
    padding-top:0px;
    padding-bottom: 50px;
    height:99%;
    width:99%;
    padding-right:300px;
    float: left;
 
}

/* FOR LOGO OF THE WEBSITE */
#logo5 img {
    padding-left:400px;
    padding-top:15px;
    position:center;
   
    
}

/* LABEL FOR REGISTRATION PAGE */
#LabelFirstName {
   font-family:'Bookman Old Style';
   text-align:center;
}

/* LABEL FOR REGISTRATION PAGE */
#LabelLastName {
    font-family: 'Bookman Old Style';
    text-align: center;
}

/* LABEL FOR REGISTRATION PAGE */
#LabelPassword {
   font-family:'Bookman Old Style';
   text-align:center;
}

/* LABEL FOR REGISTRATION PAGE */
#LabelConfirmPass {
   font-family:'Bookman Old Style';
   text-align:center;
}

/* LABEL FOR REGISTRATION PAGE */
#LabelPhoneNo {
   font-family:'Bookman Old Style';
   text-align:center;
}

/* LABELS FOR REGISTRATION AND LOGIN PAGE */
#LabelEmail {
    text-align:center;
    font-family:'Bookman Old Style';
}

/* LABEL FOR LOGIN PAGE */
#LabelUsername {
   font-family:'Bookman Old Style';
   text-align:center;
}

/* LABEL FOR LOGIN PAGE */
#LabelPassword {
   font-family:'Bookman Old Style';
   text-align:center;

}

/* LABEL FOR CONTACT PAGE */
#LabelName {
    text-align:center;
    font-family:'Bookman Old Style';
}

/* LABEL FOR CONTACT PAGE */
#LabelSubject {
    text-align:center;
    font-family:'Bookman Old Style';
}

/* LABEL FOR CONTACT PAGE */
#LabelMsg {
    text-align:center;
    font-family:'Bookman Old Style';
}

.content {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 200px;
    margin-right: 0px;
}

.p {
    text-decoration:none;
    color:black;
    font-family:'Bookman Old Style';
    margin-left: 30px;
    text-align:center;
    font-size: 14px;
    position:center;

}


/* FOR REQUIRED FIELD */
p span {
    color:red;
}

.content5 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 0px;
}

h2{
    position:center;
    padding-top:0px;
    text-align:center;
    font-size:30px;
    font-family:'Bookman Old Style';
}

h3{
   
    padding: 25px;
    text-align:center;
    font-size:15px;
    font-family:'Bookman Old Style';
    position:center;
}

/* HEADER FOR THE ENTIRE WEBSITE */
#header {
    float: left;
    margin-left:50px;
    padding-left:100px;
    padding-top:0px;
}


#Navgg1{
    float: right;
    
}

#Navgg1 img {
    height: 20px;
    width: 20px;  
}

#Navgg1 ul li{
    display:inline;
    text-decoration:none;
    color:black;
    list-style:none;
    padding-left:10px;
    font-size:15px;
    border-left: 1px solid black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#Navgg1 a:link{
    text-decoration:none;
    color:black;
    font-family: 'Bookman Old Style';

}

#head-navg {
    margin-left:50px;
    padding-left:100px;
    padding-top:0px;
    font-family: 'Bookman Old Style';
}

.head-navg {
    width: auto;
    margin-top: 10px;
    padding-top: 10px;
}

#nav-bar {
    text-align:center;
    align-content: center;
    width: auto;
    margin: auto;
    font-family:'Bookman Old Style';
}

#main-nav li {
    display: inline;
    position: center;

}

#main-nav ul {
    list-style-type: none;
    margin-left: 200px;
    padding: 8px;
    font-family:'Bookman Old Style';
    height: 55px;
    width: 148px;
    display:inline;
    position:center;
    text-align:center;
   
}

#main-nav ul li {
    display: inline-block;
    position:center;
    top: 0px;
    left:0px;
    width: 148px;
    height: 55px;
}

#main-nav li a {
    display: inline-block;
    color:black;
    text-align: center;
    text-decoration: none;
    width:148px;
    height: 55px;
}


#socialmediafbig li {
    display:inline;
}



#Navgg2 {
    display: inline;
    position: relative;
    float: left;
    padding-left:330px;
    text-align: center;
    width: 860px;
    height: 37px;
    top: 4px;
    left: -91px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#Navgg2 a:link{
    text-decoration:none;
    color:black;
   

}

#Navgg2 ul li{
    display:inline;
    text-decoration:none;
    color:black;
    list-style:none; 
    padding-left:20px;
    font-size:20px; 
    font-family:'Bookman Old Style';
    direction: ltr;
}

.green h2 {
    padding:0px;
    text-align: center;
   
}

.pink {
    float: right;
    border: 5px solid black;
    margin: 80px 50px 50px 50px;
    border: 3px solid grey;
    margin-top: 1px;
    position: relative;
    width: 225px;
    height: 270px;
    overflow: hidden;
}

.pink img {
    height: 100%;
    width: 100%;
}

.pink .bawal {
    position: absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; 
    height: 100%;
    color: darksalmon;
}

.pink:hover .bawal {
    top: 0px;
}
.pink .bawal h4 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.pink .bawal h3 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}
.pink .bawal p {
    margin: 15px 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: arial;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* FOOTER FOR THE WHOLE WEBSITE */

#footer5 { clear:both;padding: 10px 0; border-top: 1px black dotted; background-color:darksalmon;}
#footer5 p {text-align: center; font-size: 13px; font-family:'Bookman Old Style';}
#footer5 a:link{ color:black;text-decoration:none; font-family:'Bookman Old Style';}

txtbox {
    text-align:center; 
    position:center; 
    padding:0px;
    text-align:center;
    padding-top:80px;
    font-family:'Bookman Old Style';
   
}

.txtbox1 {
    font-family:'Bookman Old Style';
    text-align:center;
    color:darkred;
    font-style:italic;
}

/* FOR REGISTRATION PAGE */
.regform1 {
    width:355px;
    height:30px;
}

/* FOR LOGIN PAGE */
.loginform1 {
    width:355px;
    height:30px;
    
}

/* FOR CONTACT PAGE */
.contactform {
    Width:450px; 
    Height:120px;
    font-family:'Bookman Old Style';
   
}

/* FOR CONTACT PAGE */
.contactform1{
    width:355px;
    height:30px;
    font-family:'Bookman Old Style';
    
}
 
/* BUTTON SEND FOR SENDING AN EMAIL FROM THE CONTACT PAGE */
.BtnSendEmail {
    Width:200px; 
    Height:50px;
    font-size:13px;
    margin-bottom: 0px;
    text-align:center;
    font-family:'Bookman Old Style';
}

/* TO SHOW THE RESULT WHETHER THE MESSAGE HAS BEEN SUCCESSFULLY SEND OR NOT */
.litResult{
    position:center;
    text-align:center; 
    
}

h1{
    text-align:center;
    padding-top: 100px;
    font-size: 20px;
    font-family:'Bookman Old Style';
    font-style:italic;
    direction: ltr;
}

.h3{
    font-family:'Bookman Old Style';
    font-style:italic;
}



h4{
    font-family:'Bookman Old Style';

}


/* BUTTON FOR THE INSIDE REGISTRATION AND LOGIN PAGE */
#Button1 {
    Width:120px;
    Height:28px; 
    font-size:13px;
    font-family:'Bookman Old Style';
    
}

/* BUTTON FOR THE INSIDE REGISTRATION AND LOGIN PAGE */
#Button2 {
    Width:150px;
    Height:28px; 
    font-size:13px;
    font-family:'Bookman Old Style';
}

/* FOR MAPPING */
.newitemwrapper-contactmap {
    margin: auto;
    direction: ltr;
}


/* FOR MAPPING */
#map {
    height:200px;
    width:100px;
    border:1px solid black;
    float: left;
    margin: 0px 100px;
    padding: 0px 100px;
    text-align: center;
}
